{% extends 'shared/_layout.html' %}
{% load static %}

{% block title %}
    ورود
{% endblock %}

{% block content %}
    {% if messages %}
        <br>
        <div style="direction: rtl" class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <!--============================
        SIGN IN START
    ==============================-->
    <section class="sign_up pt_100 xs_pt_70 pb_100 xs_pb_70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-md-9 col-lg-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="sign_up_form">
                        <a style="width: 300px;" href="{% url 'home_page' %}" class="sign_up_logo">
                            <img src="{{ setting.site_logo.url }}" alt="logo" class="img-fluid w-100">
                        </a>

                        <form action="" method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                {{ login_form.identifier }}
                                {{ login_form.identifier.errors }}
                            </div>

                            <div class="form-group">
                                {{ login_form.password }}
                                {{ login_form.password.errors }}
                            </div>
                            <div class="form-group d-flex justify-content-center align-items-center">
                                {{ login_form.captcha }}
                                {{ login_form.captcha.errors }}
                            </div>
                            <br>
                            <div class="signup_check_area">
                                <div class="form-check">
                                    {{ login_form.remember_me }}
                                    {{ login_form.remember_me.label }}
                                    <a href="{% url 'forgot_password_page' %}">فراموشی رمز عبور ؟</a>
                                </div>
                            </div>
                            <button type="submit" class="common_btn w-100">وارد شوید</button>
                        </form>


                        <p class="or">&nbsp</p>

                        <p class="tf_new_account"><a href="{% url 'register_page' %}">ثبت نام</a> اکانت کاربری ندارید ؟
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============================
        SIGN UP END
    ==============================-->
{% endblock %}