{% load static %}
<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
<!--bootstrap js-->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!--font-awesome js-->
<script src="{% static 'js/Font-Awesome.js' %}"></script>
<!--countup js-->
<script src="{% static 'js/jquery.countup.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!--countup js-->
<script src="{% static 'js/select2.min.js' %}"></script>
<!--select2 js-->
<script src="{% static 'js/slick.min.js' %}"></script>
<!--sticky_sidebar js-->
<script src="{% static 'js/sticky_sidebar.js' %}"></script>
<!--venobox js-->
<script src="{% static 'js/venobox.min.js' %}"></script>
<!--wow js-->
<script src="{% static 'js/wow.min.js' %}"></script>
<!--main js-->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>